* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
  font-size: 2.5rem;
}

header p{
  font-family: sans-serif;
  font-size: 1.25rem;
}
.bars-container {
display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;
    border-bottom: 2px solid rebeccapurple;
    gap: 2rem;
}
.container {
  display: flex;
    flex-direction: column;
    align-items: center;
}

/* BIER */
.bier-container {
border: 5px solid rgba(209, 243, 250, 1);
    border-top: none;
    position: relative;
    z-index: 1;
    width: 12rem;
    height: 18rem;
    border-radius: 0% 0% 4% 4% / 0% 0% 4% 4%;
    background-color: rgba(209, 243, 250, 0.3);
    margin-bottom: 1rem;
    box-shadow: 0px -13px 4px 11px rgba(209, 243, 250, 1) inset;
}


/* HANDLE */
.bier-container::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 44%;
  top: 25%;
  right: -44%;
  display: block;
  z-index: 0;
  border-radius: 0% 40% 40% 0%/ 0% 40% 40% 0%;
  box-shadow:  inset -21px 0px 0px 21px rgba(209, 243, 250, 1);
}

.bier-progress-bar {
  position: absolute;
  width: 94%;
  height: 90%;
  left: 3%;
  top: 2%;
  border-radius: 0% 0% 14% 14% / 0% 0% 14% 14%;
  /* background-color: rgba(209, 243, 250, 0.5); */
  overflow: hidden;
}

.bier-progress-fill {
  position: absolute;
  bottom: 0;
  left: 3%;
  height: 100%;
  transition: height 0.1s linear;
  width: 94%;
  border-radius: 0% 0% 14% 14% / 0% 0% 14% 14%;
  background-color: rgb(255, 216, 108);
}

button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
